.header {
    background-color: #c3c2c2; /* Light grey background */
    padding: 10px;               /* Paddng around the text */
    border: 1px solid #424242; /* Add a broder for better visiblity */
    font-weight: bold;           /* Bold text */
    font-size: 1.2em;            /* Enlarge the font size */
}

.red-text {
    color: red;
    font-weight: bold;
}